.centrarContenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonCartShop {
    height: 70px !important;
    background-color: transparent !important;
    border: none !important;
}

.cartShop .iconCart {
    height: 70%;
    margin-right: 20px;
}

.cartShop .cantProducts {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: rgb(173, 24, 24);
    border-radius: 50%;

    top: 10px;
    right: 40px;    
}

.cant {
    font-weight: bold;
    font-size: 18px;
    color: white;
    
}


/* MODAL */
.tituloModal {
    font-size: 15px !important;
}

.tituloModal span{
    font-size: 12px !important;
    color: #5e5e5e ;
}


@media (max-width: 1024px) {
    .cartShop .iconCart {
        height: 65%;
    }
}


