.carritoContainer {
    min-height: 50vh;
}

.tituloPrincipal{
    padding-left: 60px;
}

.cartList {
    display: flex;
    width: 750px;
    padding-left: 60px;
    padding-top: 60PX;
    margin-bottom: 50px;
}



@media (max-width: 1250px) {

    .detallePago {
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 1041px) {

    .detalleProducto {
        margin: 0px !important;
    }
}

@media (max-width: 990px) {
    .cartList {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0 0 0;
        margin: 0;
        min-width: 400px;
    }

    .detallePago {
        margin: 50px;
    }
}

