.carritoContainer {
    min-height: 50vh;
}

.tituloPrincipal{
    padding-left: 60px;
}

.cartList {
    display: flex;
    min-width: 750px;
    padding-left: 60px;
    padding-top: 60PX;
    margin-bottom: 50px;
}