
.accountWidget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    width: 150px;
}

.iconCuenta {
    font-size: 25px;
}

.miCuenta {
    width: 100%;
    text-align: center;
}

.miCuenta .nav_link {
    text-decoration: none;
    color: #fff;
}

.miCuenta .nav_link:hover {
    color: #d5d2d2;
}


.miCuenta li {
    list-style: none;
}

/* Menu desplegable */
li ul {
    display: none;
    position: absolute !important;
    margin: 0px 0 !important;
    margin-right: 10px !important;
    width: 150px;
    height: 85px !important;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
    padding-left: 0 !important;
}

li:hover ul {
    display: block;
}

li ul li {
    background-color: #fbf7f2;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
    color: #000;
}

li ul li a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    transition: all 200ms;
}

li:hover>ul>li:hover {
    box-shadow: 0px 0px 6px #ccc inset;
    background-color: #d4d6d7;
    color: #000;
}

li:hover>ul>li>a:hover {
    color: #000;
}

